.text-about-me{
    color: #989898 !important;
    line-height: 1.8;
}


.fade-slide-enter-active,
.fade-slide-leave-active {
    transition: all 0.5s ease;
    position: absolute;
    left: 12.3rem;
}

.fade-slide-enter-from {
    opacity: 0;
    transform: translateY(-10px);
}

.fade-slide-enter-to {
    opacity: 1;
    transform: translateY(0);
}

.fade-slide-leave-from {
    opacity: 1;
    transform: translateY(0);
}

.fade-slide-leave-to {
    opacity: 0;
    transform: translateY(10px);
}

.slide-wrapper {
    position: relative;
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 1.2rem;
}

.show-key-word{
    background: #fdc007;
    color: black;
    border-radius: 15px;
    font-size: 1rem;
    padding-bottom: 5px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
p.Records {
    font-size: 24px;
    margin-top: -8px;
}
