.show-skills{
    border-radius: 5px;
    background: #141414 !important;
    width: 19.3%;
    &:hover{
        border: 1px solid #ffc107;
    }
}

.card-header-tabs .nav-link.active {
    background: #fdc007 !important;
    color: #000 !important;
}

.circle-skill{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
    padding-bottom: 2px;
    background-color: #141515 !important;
}

.circle-skill img {
    width: 40px;
    height: 40px;
}


/*رstyle video player*/
.video-wrapper {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    max-width: 49%;
    transition: transform 0.3s ease;
    overflow: hidden;
    border: none !important;
}

.video-wrapper:hover {
    transform: translateY(-5px);
    border: 1px solid #ffc107;
}

.video-title {
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin-bottom: 15px;
    font-size: 1.5rem;
    border-left: 4px solid #3498db;
    padding-left: 10px;
}

.main-video {
    width: 100%;
    border-radius: 12px;
    display: block;
    background: #000;
    border: 1px solid #333 !important;
}


.video-description {
    color: #b3b3b3;
    margin-top: 15px;
    font-size: 0.95rem;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .video-wrapper {
        padding: 10px;
        border-radius: 8px;
    }
    .video-title {
        font-size: 1.2rem;
    }
}
