@import "css/about.css";

body{
    background: #0e0f0f !important;
    color: white !important;
    position: relative;
}


.snowflake {
    pointer-events: none;
    z-index: 9999;
}

a{
    text-decoration: none !important;
    color: #ffffff !important;
}

.pt-8{
    padding-top: 7rem !important;
}

.w-30{
    width: 30% !important;
}

.w-60{
    width: 60% !important;
}

img.b-img.card-img-top {
    padding: 25px !important;
    border-radius: 35px !important;
}
.custom-card{
    width: 95%;
    padding: 5px;
    background: #0e0f0f !important;
    color: #fff !important;
    border: 1px solid #3e3f3f !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    border-radius: 50%;
    border: 1px solid #3e3f3f !important;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
    padding-bottom: 2px;
}